@model List<Wedding>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Planner</title>
</head>
<body>
    <div class="row">
        <div class="col-md-7 text-left">
            <h1>Welcome to the Wedding Planner</h1>
        </div>
        <div class="col-md-5 text-right">
            <a class="text-right" href="/logout">Logout</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guests</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wedding in Model)
            {
            <tr>
                <th scope="row"><a href="/@wedding.WeddingId">@wedding.BrideName & @wedding.GroomName</a></th>
                <td>@wedding.Date.ToString("MMMM dd yyyy")</td>
                <td>@wedding.Guests.Count</td>
                @if (wedding.Creator.UserId == ViewBag.UserId)
                {
                    <td>
                        <a href="/delete/@wedding.WeddingId">Delete</a>
                    </td>
                }
                else if (wedding.Guests.Any(g => g.UserId == ViewBag.UserId))//if logged user is guest of wedding
                {
                    <td>
                        <a href="/unrsvp/@wedding.WeddingId">Un-RSVP</a>
                    </td>
                }
                else //if logged user not on guest list
                {
                    <td>
                        <a href="/rsvp/@wedding.WeddingId">RSVP</a>
                    </td>
                }
            </tr>
            }
        </tbody>
        </table>
        <br>
    <div class="text-right">
        <button><a href="/new">New Wedding</a></button>
    </div>
</body>
</html>