<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Planner</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
            <partial name="Registration"/>
            </div>
            <div class="col">
            <partial name="Login"/>
            </div>
        </div>
    </div>
</body>
</html>


<!-- @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->
